@import url(../__paragraph/place__paragraph.css);
.place__text{
    grid-row: 2/3;
    grid-column: 2;
    display: block;
}
@media screen and (max-width: 520px) {
    .place__text{
        grid-row: 3;
        grid-column: 1;
        padding-left: 16px;
        padding-right: 16px;
    }
}
