@import url(../__paragraph/place__paragraph.css);
.place__text{
    grid-row: 2/3;
    grid-column: 2;
    padding-left: 1em;
    padding-right: 1em;
}
@media screen and (max-width: 750px) {
    .place__text{
        grid-row: 3;
        grid-column: 1;
        padding-left: 1em;
        padding-right: 1em;
    }
}
