.lead__title{
    display: block;
    margin: 0;
    margin-top: 56px;
    max-width: 620px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
    }
    @media screen and (max-width: 320px) {
        .lead__title{
            font-size: 40px;
            line-height: 44px;  
        }
    }