.lead__caption{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media screen and (max-width: 990px) {
    .lead__caption{
        padding-left: 24px;
        
    }
}
@media screen and (max-width: 340px) {
    .lead__caption{
        padding-left: 16px;
        
    }
}