.footer__list{
    display: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    }
    
    @media screen and (max-width: 750px) {
        .footer__list{
            flex-direction: column;
            margin-top: 64px;
        }
    }